@model ResumenEmpleados
@{
    List<string> oficios = ViewData["OFICIOS"] as List<string>;
}

<div class="container mt-5">
    <h1 class="mb-4">Lambda Empleados Oficio</h1>

    <form method="post" class="mb-4">
        <div class="form-group">
            <label for="oficio">Introduzca un oficio</label>
            <select name="oficio" class="form-control">
                @foreach (string oficio in oficios)
                {
                    <option value="@oficio">@oficio</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-outline-success">
            Mostrar Resumen
        </button>
    </form>
    <br />
    @if (Model != null)
    {
        <ul class="list-group">
            <li class="list-group-item">
                Personas: @Model.Personas
            </li>
            <li class="list-group-item">
                Maximo Salario: @Model.MaximoSalario
            </li>
            <li class="list-group-item">
                Media salarial: @Model.MediaSalarial
            </li>
        </ul>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Apellido</th>
                    <th>Oficio</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Empleado emp in Model.Empleados)
                {
                    <tr>
                        <td>@emp.Apellido</td>
                        <td>@emp.Oficio</td>
                        <td>@emp.Salario</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
