@model Persona


<h1 style="color:rebeccapurple">
    Informacion Controlador --> Vista
</h1>
<h2 style="color:darkorange">
    @Model.Nombre, @Model.Email, @Model.Edad
</h2>



<h2 style="color: saddlebrown">
    Nombre: @ViewData["NOMBRE"]
</h2>
<h2 style="color:darkolivegreen">
    Edad : @ViewBag.Edad
</h2>
<h2 style="color:darkmagenta">
    Dia Semana: @ViewData["DIASEMANA"]
</h2>