@model Hospital

<h1>Edit hospital</h1>

<p>
    <a asp-controller="Hospitales" asp-action="Index">
        Volver a Index
    </a>
</p>

<form method="post">
    <input type="hidden" name="idhospital" value="@Model.IdHospital" />
    <label>Nombre</label>
    <input type="text" name="nombre" value="@Model.Nombre"
           class="form-control" />
    <label>Dirección</label>
    <input type="text" name="direccion" value="@Model.Direccion"
           class="form-control" />
    <label>Teléfono</label>
    <input type="text" name="telefono" value="@Model.Telefono"
           class="form-control" />
    <label>Camas</label>
    <input type="text" name="camas" value="@Model.Camas"
           class="form-control" />
    <button class="btn btn-info">
        Update
    </button>
</form>
