
<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head><script src="/docs/5.3/assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.118.2">
    <title>Sticky Footer Navbar Template · Bootstrap v5.3</title>

<link href="~/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/sticky.css" rel="stylesheet"/>

    
    <!-- Custom styles for this template -->
 <link href="~/css/sticky-footer-navbar.css" rel="stylesheet">
    @*
        CREAMOS UNA ZONA/SECCION PARA QUE LAS VISTAS PUEDAN
        INCLUIR AQUI CODIGO DE <style>
    *@
    @RenderSection("styles", false);
  </head>
  <body class="d-flex flex-column h-100">
    

    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home")
          </li>
          <li class="nav-item">
                @Html.ActionLink("Contenido", "Contenido", "Home")
          </li>
          <li class="nav-item">
             <a asp-controller="Home" asp-action="VistaPersona" class="nav-link active">Persona</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
            <h1 id="mensaje">Plantilla Principal MVC Net Core</h1>
            <hr />
            <div style="background-color:pink">
                <p>ZONA DE VISTAS</p>
                @RenderSection("images", false)
                <hr />
                <img src="~/images/mugis.jpg" style="width:400px; height:auto"/>
                <hr />
                <button class="btn btn-warning" id="botonlayout">
                    Probar Jquery!!
                </button>
                @RenderBody()
            </div>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary">Place sticky footer content here.</span>
  </div>
</footer>
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
    <script>
        $(document).ready(function () {
            $("#botonlayout").click(function () {
                $("#mensaje").text("Boton pulsado!");
            })

        })
    </script>
    </body>
</html>
