@model IEnumerable<MvcCoreSession.Models.Mascota>

@{
    ViewData["Title"] = "SessionCollection";
}

<h1>Session Collection</h1>

<p>
    <a asp-controller="EjemploSession" asp-action="SessionCollection"
       asp-route-accion="almacenar">Almacenar colección</a>
</p>
<p>
    <a asp-controller="EjemploSession" asp-action="SessionCollection"
       asp-route-accion="mostrar">Mostrar colección</a>
</p>
<h1>@ViewData["MENSAJE"]</h1>
@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Raza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
